<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<h1 class="heading bold">ABOUT US</h1>
				<h2 class="subheading">WE ARE TALANTED DESIGNERS &amp; DEVELOPERS</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="fa fa-cloud"></i>
					<h3>Planning</h3>
					<p>Blaster is free responsive layout from <a rel="nofollow" href="http://www.templatemo.com" target="_parent">templatemo</a>. Credit goes to <a rel="nofollow" href="https://pixabay.com" target="_parent">Pixabay</a> for images. You can change icons by looking at <a rel="nofollow" href="https://fortawesome.github.io/Font-Awesome/icons/" target="_parent">FontAwesome icons</a>. Thank you for visiting our website.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="fa fa-laptop"></i>
					<h3>Developing</h3>
					<p>Example: <a href="#about">&lt;i class=&quot;fa fa-phone&quot;&gt;&lt;/i&gt;</a> for phone icon. <a href="#about">&lt;i class=&quot;fa fa-mobile&quot;&gt;&lt;/i&gt;</a> for mobile icon. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="fa fa-globe"></i>
					<h3>Launching</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id.</p>
			</div>
			<hr>
			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
				<img src="assets/about-img.png" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
				<h3>Our Focus</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				<span><i class="fa fa-mobile"></i> Mobile Apps</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
				<span><i class="fa fa-link"></i> Web Development</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
					</div>
				<span><i class="fa fa-cloud"></i> Cloud Computing</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>