<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<hr>
				<h3><span class="bold">WE ARE a</span></h3>
				<h1>Product Development Agency </h1>
				<h3>&</h3>
				<h1>Digital Marketing Studio</h1>
				<h1 class="heading">from Toronto</h1>
				<hr>
				<a href="#about" class="smoothScroll btn btn-default">Our Process</a>
			</div>
		</div>
	</div>		
</section>