// Place all the styles related to the visitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

Blaster Template

http://www.templatemo.com/tm-472-blaster

*/

body
{
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
}

html,body {
	width: 100%;
	overflow-x: hidden;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

.heading {
	font-size: 60px;
}
.subheading {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 60px;
}
.bold {
	font-weight: bold;
}

p {
	letter-spacing: 0px;
	line-height: 28px;
}

#about,
#team, #contact {
	padding-top: 100px;
	padding-bottom: 100px;
}

#about .fa {
	font-size: 28px;
	min-width: 34px;
}

/* start navigation */
.custom-navbar {
    background: #ffffff;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand  {
	color: #303030;
	font-size: 40px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #55acee;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.custom-navbar .nav li a {
    color: #505050;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    padding-right: 20px;
    padding-left: 20px;
	transition: all 0.3s ease-in-out;
}
.custom-navbar .nav li a:hover {
  	background: #FFD321;
  	transition: all 0.3s ease-in-out;
}
.custom-navbar .nav > li > a:focus {
  	background-color: transparent;
  	outline: none;
}
.custom-navbar .nav li.active > a {
    background-color: #FFD321;
}
.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #FFD321;
    border-color: transparent;
}
@media(min-width:768px){
    .custom-navbar {
            background: #ffffff;
            padding: 14px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 14px;
            background: #fff;
            border-bottom: 1px solid #eeeeee;
        }
}

/* home section */
#home {
  background: url('home-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#home hr {
  border: 2px solid #404040;
  width: 100px;
}
#home h3 {
  letter-spacing: 2px;
}
#home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #404040;
  color: #404040;
  font-weight: bold;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #404040;
  color: #ffffff;
}

/* about section */
#about .col-md-4 .fa {
  background: #FFD321;
  border-radius: 50%;
  color: #ffffff;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}
#about .col-md-6 {
  padding-top: 60px;
}
#about .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}
#about .col-md-6 p {
  padding-bottom: 30px;
}
#about span {
  display: block;
  padding-bottom: 6px;
}
#about .progress {
  border-radius: 0;
  box-shadow: none;
  height: 6px;
}
#about .progress .progress-bar-primary {
  background: #FFD321;
}

/* portfolio section */
#portfolio {
  padding-top: 100px;
  background: #f9f9f9;
  text-align: center;
  }
#portfolio .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#portfolio .col-md-4 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
  opacity: 0.6;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    background: #FFD321;
    color: #ffffff;
    outline: none;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

/* team section */
#team {
  text-align: center;
}
#team h3 {
  color: #202020;
  line-height: 4px;
}
#team .team-des {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* contact section */
#contact {
  background: #f9f9f9;
  text-align: center;
}
#contact .fa {
  font-size: 40px;
}
#contact form {
  padding-top: 80px;
}
#contact .form-control {
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
  border: 2px solid #808080;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  border: 2px solid #808080;
  margin-top: 18px;
  height: 54px;
}
#contact input[type="submit"]:hover {
  background: #808080;
  color: #ffffff;
}
#contact textarea {
  height: 170px;
}
.contact-info-box h3 { font-size: 16px; }

/* footer section */
footer {
  background: url('footer-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.social-icon {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  border-radius: 50%;
  color: #303030;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
  margin-right: 10px;
}
.social-icon li a:hover {
  background: #FFD321;
}

/* copyright section */
#copyright {
  background: #404040;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#copyright p {
  padding-top: 20px;
}
#copyright a {
	color: #fff;
}
#copyright a:hover {
	color: #FFD321;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
#copyright .fa {
  background: #383838;
  color: #ffffff;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}
#copyright .fa:hover {
  background: #FFD321;
  color: #000;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #portfolio .col-lg-4,
    #portfolio .col-md-4 {
      width: 33.333%;
    }
  }    
}

@media ( max-width: 980px ) {
  .custom-navbar .navbar-brand {
    font-size: 24px;
  }
  #about img {
    padding-top: 40px;
  }
  #contact form {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact-info-box { margin-bottom: 20px; }
  .contact-info-box:last-child { margin-bottom: 0; }
}

@media (max-width: 450px) {
  .heading {
    font-size: 40px;
  }
  #about .col-md-4 .fa {
    margin-top: 32px;
  }
  #contact h3 {
    font-size: 16px;
    padding-bottom: 40px;
  }
}

