<!DOCTYPE html>
<html>
<head>
  <title>TBD :: Welcome!</title>
  <%= favicon_link_tag 'myicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<%= render 'application/nav_bar' %>
	<%= yield %>
	<%= render 'application/footer' %>
	<%= render 'application/copyright' %>
</body>
</html>
